<app-default-login-layout
  title="Signup your account"
  primaryBtnText="Signup Now"
  secondaryBtnText="Login Now"
  (submit)="submit()"
  (navegate)="navegate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Name"
      placeholder="Enter your name"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="Enter your email"
    >
      <img src="assets/svg/email-icon.svg" alt="email" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your password"
    >
      <img src="assets/svg/password-icon.svg" alt="email" />
    </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirm your password"
    >
      <img src="assets/svg/password-icon.svg" alt="email" />
    </app-primary-input>
    <span>Forgot password?</span>
  </form>
</app-default-login-layout>
